		.X:hover{
/*     		transform: skew(-10deg); */
    		transform: rotate(-100deg);

    	}

      .X {
      	position:fixed;
      	left:94%;
      	top:0;
      	font-family: courier;
      	text-decoration: none;
      	font-size: 5em;
      	}

      body {
        font-family: helvetica, arial, sans-serif;
        position:relative;
        top:-10px;
        margin:none;
        padding:none;
        cursor: crosshair;
        width: 100%;
        user-select: none;
				background-color: linen;
      }

      a:visited{
      	color:DarkGray;
      	text-decoration: none;
      }

      a:hover{
      	text-decoration: none;
      	color: black;
 				}

 			a:link {
  			text-decoration: none;
  			color:DarkGray;
				}

      h1 {
        font-style: normal;
        color: #FFFAFA;
        font-size: 5em;
        width:95%;
        margin-left:.25em;
      }

      .shield{
      	position:fixed;
      	width:100%;
      	height:100%;
      	display:none;
      }

      .output-wrapper {
        display:block;
        color: black;
        font-size: 3em;
        margin-right:5%;
        margin-left:5%;
        margin-top:10%;
        font-family: courier;
        position: fixed;
        border-style: dashed;
        border-color: black;
        padding:1em;

      }

      .output-wrapper:hover {
        cursor: pointer;
      }

      .poem {
        display: inline-block;
      }

      .poem:hover {
        cursor: pointer;
      }






      #poem1:hover {
				color:GoldenRod;
        background-color: Orange;
      }

      #poem2:hover {
      	color: Red;
        background-color: CornflowerBlue;
      }

      #poem3:hover {
      	color: SkyBlue;
        background-color: DarkSlateGrey;
      }

      #poem4:hover {
      	color: #c2e184;
        background-color: Pink;
      }

      #poem5:hover {
      	color:Salmon;
        background-color: Tan;
      }

      #poem6:hover {
      	color:DarkKhaki;
        background-color: Purple;
      }

      #poem7:hover {
      	color:Maroon;
        background-color: DarkOliveGreen;
      }

      #poem8:hover {
      	color: Tomato;
        background-color: MidnightBlue;
      }



			@media only screen and (min-width: 768px){

			}





			/*MOBILE*/
			@media only screen and (max-width: 768px){

					.X {
						position:fixed;
						left:85%;
						top:85%;
						font-family: courier;
						text-decoration: none;
						font-size: 5em;
						color: white;
						}

					html{
						width: 100%;
						margin:0;
						padding:0;

					}

					body {
						font-family: helvetica, arial, sans-serif;
						position:relative;
						top:-10px;
						margin:0;
						padding:0;
						cursor: crosshair;
						width: 100%;
						user-select: none;
					}

					a:visited{
						color:DarkGray;
						text-decoration: none;
					}

					a:hover{
						text-decoration: none;
						color: black;
						}

					a:link {
						text-decoration: none;
						color:black;
						}

					h1 {
						font-style: normal;
						color: #e6e6e6;
						font-size: 3em;
						width:95%;
						margin-left:.25em;
					}

					.shield{
						position:fixed;
						width:100%;
						height:100%;
						display:none;
					}

					.output-wrapper {
						display:block;
						/* justify-content: center;
						align-items: center; */ */
						color: black;
						font-size: 2em;
						margin-right:5%;
					 	margin-left:5%;
						margin-top:30%;
						font-family: "Courier Prime", monospace;
						position: fixed;
						border-style: dashed;
						border-color: black;
						padding:1em;

					}



					.poem {
						display: inline-block;
						text-decoration: underline;
					}






					#poem1:hover {
						color:GoldenRod;
						background-color: Orange;

					}

					#poem2:hover {
						color: Red;
						background-color: CornflowerBlue;

					}

					#poem3:hover {
						color: SkyBlue;
						background-color: LightGreen;
					}

					#poem4:hover {
						color: #c2e184;
						background-color: Pink;
					}

					#poem5:hover {
						color:Salmon;
						background-color: Tan;
					}

					#poem6:hover {
						color:DarkKhaki;
						background-color: Purple;
					}

					#poem7:hover {
						color:Maroon;
						background-color: DarkOliveGreen;
					}

					#poem8:hover {
						color: Tomato;
						background-color: MidnightBlue;
					}
			}
